<?xml version="1.0" encoding="UTF-8" ?>
<configuration status="INFO">
    <Properties>
        <Property name="logPattern">
            %d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n
        </Property>
    </Properties>

    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="${logPattern}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="console"/>
        </Root>

        <Logger name="com.leightek.cache" level="INFO"/>
        <Logger name="org.springframework.cache" level="TRACE" />
    </Loggers>
</configuration>